# PostgreSQL
POSTGRES_DB=beacon_db
POSTGRES_USER=beacon_user
POSTGRES_PASSWORD=beacon_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Neo4j
NEO4J_HOST=269dc5fe.databases.neo4j.io
NEO4J_USERNAME=269dc5fe
NEO4J_PASSWORD=o1GixeEB7wTHluJR_Td0cNyBSR7L7Q07OIRLcVJKHfI
NEO4J_DATABASE=269dc5fe

# Pinecone
PINECONE_API_KEY=pcsk_3YD3KU_8embZDpEKdCUiLdPXNspijX5r5gGXVsagT3jBJo8xRjNgUM8j9pAUMZ9mKuMyJV
PINECONE_ENV=us-east-1-aws
PINECONE_INDEX=beacon-domains

# Google Gemini
GEMINI_API_KEY="AIzaSyArewievume-SEXJbXYRfUvlS4mCHdOikY"

# Django
SECRET_KEY=your_secret_key
DEBUG=True
INTERNAL_SECRET=internal_shared_secret

# Redis / Celery
REDIS_URL=redis://redis:6379/0
