# PostgreSQL
POSTGRES_DB=beacon_db
POSTGRES_USER=beacon_user
POSTGRES_PASSWORD=beacon_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Neo4j
NEO4J_URI=bolt://neo4j:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=ishat@123

# Pinecone
PINECONE_API_KEY=pcsk_3YD3KU_8embZDpEKdCUiLdPXNspijX5r5gGXVsagT3jBJo8xRjNgUM8j9pAUMZ9mKuMyJV
PINECONE_ENV=us-east-1-aws
PINECONE_INDEX=beacon-domains

# Google Gemini
GEMINI_API_KEY="AIzaSyA0i42_nzqcbk-kXltS3eAUil3iwgVjEcs"

# Django
SECRET_KEY=your_secret_key
DEBUG=True
INTERNAL_SECRET=internal_shared_secret

# Redis / Celery
REDIS_URL=redis://redis:6379/0
